{{#resume.basics}}
<div class="container about-container">
  {{> title value="Contact"}}

  {{#if location}}
    {{#location}}
    {{> info-tag text=(formatAddress address city region postalCode countryCode) icon="fa-map-marker"}}
    {{/location}}
  {{/if}}

  {{#if email}}
    {{> email text=this.email icon="fa-envelope-o" email=this.email}}
  {{/if}}

  {{#if phone}}
    {{> phone text=this.phone icon="fa-mobile" phone=this.phone}}
  {{/if}}

  {{#if website}}
    {{> info-tag text=this.website icon="fa-desktop" url=this.website}}
  {{/if}}

  {{#if profiles}}
    {{#each profiles}}
        {{> social}}
    {{/each}}
  {{/if}}
</section>
{{/resume.basics}}
